.apanel{
	margin:10px;
	
}
.answer{
	margin:2px;
	padding: 1px;
	width: 100px;
	height: 60px;
	border-radius: 8px;
}
@media screen and (max-width: 768px) {
    answer{
        background-color: lightgreen;
    }
}

